/* Navbar */
#navbar h1 {
  float: none;
  text-align: center;
}

#navbar ul, #navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: 1px #555 dotted;
}

/* Showcase */
#showcase .showcase-content {
  padding-top: 70px;
}

/* Home Info */
#home-info {
  height: 550px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}

/* About Info */
#about-info .info-left, 
#about-info .info-right {
  float: none;
  width: 100%;
}

#about-info .info-right {
  padding-top: 20px;
}

/* Boxes */
.box {
  float: none;
  width: 100%;
}

#contact-info .box {
  border-bottom: 1px #444 dotted;
}